<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments/head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/header"></nav>


<main>
    <h1 th:text="${title}"></h1>

    <!--<form action="#" th:action="@{/tasks/create}" th:object="${task}" method="post">
        <input type="text" th:field="*{title}" />
        <input type="text" th:field="*{description}" />
        <input type="datetime-local" th:field="*{dateTime}" />

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
    <div class="form-container">
        <form action="#" th:action="${edit}? @{/tasks/edit} : @{/tasks/create}" th:object="${taskDTO}" method="post"
              class="create-task-form">

            <div class="form-group">

                <label for="title" th:text="#{Title}"></label>
                <span class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                <input th:field="*{title}" type="text" class="form-control" id="title" aria-describedby="Title"
                       th:placeholder="#{Title}">
                <small class="form-text text-muted" th:text="#{TitleOfYourAmazing}"></small>
            </div>
            <div class="form-group">
                <label for="description" th:text="#{Description}"></label>
                <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                <input th:field="*{description}" type="text" class="form-control" id="description"
                       th:placeholder="#{Description}">
                <small class="form-text text-muted" th:text="#{DescribeDetail}"></small>
            </div>
            <div class="form-group">
                <label for="dateTime" th:text="#{DueDate}"></label>
                <span class="error" th:if="${#fields.hasErrors('dateTime')}" th:errors="*{dateTime}"></span>
                <input th:field="*{dateTime}" type="datetime-local" class="form-control" id="dateTime"
                       th:placeholder="#{DueDate}">
                <small class="form-text text-muted" th:text="#{AmazingTakingPlace}"></small>
            </div>
            <input th:field="*{id}" type="hidden" class="form-control" aria-describedby="Title"
                   th:placeholder="#{Title}">
            <button type="submit" class="btn btn-primary" th:text="#{Submit}"></button>
        </form>
    </div>
</main>


</body>

</html>
